
.time-tracking-timeline {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.time-tracking-timeline .title, .dtt-timeline .title {
    min-height: 30px;
    width: 100%;
    text-align: center;
}

.time-tracking-timeline .title h3 {
    margin-bottom: 30px;
}